<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='utf-8'>
	<meta name='viewpoint' content='width-device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='static/css/bootstrap.css'>
    <link rel='stylesheet' href='static/css/main.css'>
	<title>Анекдоты на любой вкус</title>
</head>
<body>
<form action='http://127.0.0.1:5000/questions' method = 'POST'>
	<fieldset>
		<div class='page-header'>
			<h1>Анекдоты на любой вкус</h1>
		</div>
		<div class = 'container'>	<p><h1>На этой странице вы можете подобрать анекдот по персонажу из корпуса. Корпус может пополняться. </p></h1>
		<h2>Сейчас мне хочется отборного юмора про:</h2>
		<select>
			<option value = 'Pete'>Петька</option>
			<option value = 'Chech'>Чкалов</option>
			<option value = 'Speed'>Быстрый Гонзалес</option>
			<option value = 'Lupa'>Лупа и Пупа</option>
			<option value = 'National'>Анекдоты про русского</option>
			<option value = 'Other'>Разные, но очень смешные анекдоты</option>
		</select>
		<p><b>Все представленные в корпусе анекдоты собраны на материале из интернета. Если вы нашли какой-то из них оскорбительным, заполните форму ниже.</b></p>
		<form name="test" method="post" action="input1.php">
		<p>Ваше мнение имеет значение!<Br>
			<textarea name="comment" cols="40" rows="3"></textarea></p>
		<p><input type="submit" value="Отправить">
 		<input type="reset" value="Очистить"></p>
 		</form>
	</fieldset>
</form>
</body>
</html>