<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewpoint' content='width-device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='static/css/bootstrap.css'>
    <link rel='stylesheet' href='static/css/main.css'>
	<title>JSON ответов</title>
</head>
<body>
	<div class='container'>
		<pre>
		{{json}}
		</pre>
	</div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12'>
                <a href='/'>Вернуться в начало</a><br>
                <a href='/stats'>Статистика опроса</a><br>
                <a href='/json'>json со всеми введенными данными</a><br>
                <a href='/search'>Поиск по результатам</a><br>
            </div>
        </div>
    </div>
</body>
</html>