Flask==1.0.2
requests==2.21.0
pyTelegramBotAPI==3.6.6
urllib3==1.24.2
pyquery==1.1
cssselect==1.0.3
lxml==4.6.2
markovify==0.7.1
nltk==3.4.3
PySocks==1.7.0
pyTelegramBotAPI==3.6.6
telebot==0.0.3
tqdm==4.32.2
Pseudo==0.2.16